/* Widget VPN */
.vpn_provider_info {
	position: relative;
	width: 100%;
    padding: 24px 24px 35px;
    background-color: #ffffff;
    border: 4px solid #ecf5fa;
    border-radius: 5px;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.vpn_provider_info .header {
    float: left;
    width: 100%;
    padding-bottom: 17px;
}
.vpn_provider_info .header .title-wrapper {
    display: inline-block;
    color: #223770;
    font-size: 24px;
    font-weight: 900;
}
.vpn_provider_info .header .score-wrapper {
    margin-left: 6px;
    display: inline-block;
    float: right;
    text-align: right;
    font-size: 17px;
    font-weight: 900;
    line-height: 28px;
}
.vpn_provider_info .header .score-wrapper .score {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    border-radius: 100%;
    background-color: #43c09a;
    padding-right: 1px;
    margin-left: 6px;
}
.vpn_provider_info .vpn_content {
    position: relative;
    width: 100%;
    min-height: auto;
    padding: 0 !important;
}
.vpn_provider_info .vpn_content .offer {
    color: #23b223;
    font-weight: bold;
    line-height: 25px;
}
.vpn_provider_info .vpn_content .offer .offer-tag {
    position: relative;
    border-radius: 100px;
    background-color: #23b223;
    color: #fff;
    display: inline-block;
    margin-right: 4px;
    font-weight: 700;
    padding: 2px 16px 2px 35px;
}
.vpn_provider_info .vpn_content .offer .offer-tag .c-icon-star {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
    width: 17px;
    height: 17px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' width='256' height='256' x='0' y='0' viewBox='0 0 24 24' style='enable-background:new 0 0 512 512' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M19.467,23.316,12,17.828,4.533,23.316,7.4,14.453-.063,9H9.151L12,.122,14.849,9h9.213L16.6,14.453Z' fill='%23ffffff' data-original='%23000000'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
}
.vpn_provider_info .vpn_content .offer a {
    color: #23b223;
    text-decoration: none;
}
.vpn_provider_info .vpn_content ul.highlights-list {
    float: left;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 0;
    padding: 0 !important;
    list-style: none !important;
}
.vpn_provider_info .vpn_content ul.highlights-list li {
    position: relative;
    float: left;
    width: 100%;
    padding-left: 33px;
    margin-bottom: 11px;
    line-height: 21px;
    min-height: 23px;
    font-size: 16px;
    color: #21252a;
}
.vpn_provider_info .vpn_content ul.highlights-list li .c-icon-plus {
    position: absolute;
    left: 0;
    top: 4px;
    width: 22px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' width='256' height='256' x='0' y='0' viewBox='0 0 24 24' style='enable-background:new 0 0 512 512' xml:space='preserve'%3E%3Cg%3E%3Cpath d='m12 0a12 12 0 1 0 12 12 12.013 12.013 0 0 0 -12-12zm5 13h-4v4h-2v-4h-4v-2h4v-4h2v4h4z' fill='%2343c09a' data-original='%23000000'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
}
.vpn_provider_info .c-btn-primary {
    display: inline-block;
    width: 100%;
    font-size: 15px !important;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: #f68000 !important;
    border-color: #f68000 !important;
    margin-top: 20px;
    padding: 10px 23px !important;
    border-radius: 100px;
}
